:root{
  --background-main: #F8FAFB;
  --background-widget: #fff;
  --textcolor-main: #252E37;
  --textcolor-light: #8F9BB3;
  --accent-color: #00A1FF;
  --accent-color-h: #0083ce;
  --accent-color-invese: #fff;
  --orange-back: #FEF6ED;
  --blue-back: #ECF5FF;
  --pupule-back: #EEEEFB;
  --green-back: #EBFBF5;
  --orange: #FADBB5;
  --blue: #8EC7FB;
  --green: #B1F1D7;
  --purple: #C5C5F1;
}