.btn-primary{
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;
  padding:  8px 15px;
  background: var(--accent-color);
  color: var(--accent-color-invese);
  border-radius: 6px;
  font: normal 700 13px/20px var(--font-main);
  display: inline-block;
  transition: .2s ease-in-out;
  &.inverse{
    background: var(--accent-color-invese);
    color: var(--accent-color)
  }
  &:hover{
    background: var(--accent-color-h);
  }
}