<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Discover advertising with App</title>
    <meta name="description" content="Want to accelerate Artur's benefits?
                Artur's advertising option allows you to benefit from Google and Facebook technologies, managed by
                experts, in order to win new customers">
    <meta name="keywords" content="Key 1, Key 2, Key 3">
</head>
<body>
<section class="header relative offset-items">
    <div class="box h-full flex justify-start items-center">
        <div class="flex flex-row gap-15 offset">
            <span class="art-1">Boost your ads</span>
            <h1 aria-label="Discover advertising with App">Discover advertising with App</h1>
            <p>Want to accelerate Artur's benefits? <br>
                Artur's advertising option allows you to benefit from Google and Facebook technologies, managed by
                experts, in order to win new customers</p>
            <a tabindex="0" target="_top" class="btn-primary" rel="nofollow" href="#" aria-label="Contact my coach">Contact
                my coach</a>
        </div>
    </div>
    <picture aria-label="Discover advertising with App">
        <img src="<%= require('./assets/img/1mimage.svg') %>" alt="Discover advertising with App" loading="lazy">
        <source srcset="<%= require('./assets/img/HeaderImageMid.svg') %>" media="(max-width: 998px)" type="image/svg+xml" />
    </picture>
</section>
<section class="features bg-white">
    <div class="box flex justify-center flex-row">
        <div class="widgets relative flex flex-row justify-between items-stretch gap-40 widgets-animation">
            <div class="widget">
                <div class="icon bg-orange-back">
                    <picture aria-label="Grow your community">
                        <source srcset="<%= require('./assets/img/people-1200.svg') %>" media="(max-width: 1600px)" type="image/svg+xml"/>
                        <img src="<%= require('./assets/img/people.svg') %>" alt="Build your page's credibility with new Facebook fans" loading="lazy">
                    </picture>
                </div>
                <h4>Grow your<br> community</h4>
                <p>Build your page's credibility with new Facebook fans</p>
            </div>
            <div class="widget">
                <div class="icon bg-blue-back">
                    <picture aria-label="Increase your interactions">
                        <source srcset="<%= require('./assets/img/reactions-1200.svg') %>" media="(max-width: 1600px)" type="image/svg+xml"/>
                        <img src="<%= require('./assets/img/reactions.svg') %>" alt="Build your page's credibility with new Facebook fans" loading="lazy">
                    </picture>
                </div>
                <h4>Increase your interactions</h4>
                <p>Draw more engagement to your Facebook posts</p>
            </div>
            <div class="widget">
                <div class="icon bg-pupule-back">
                    <picture aria-label="Boost your website traffic">
                        <source srcset="<%= require('./assets/img/pointer-interaction-1200.svg') %>" media="(max-width: 1600px)" type="image/svg+xml"/>
                        <img src="<%= require('./assets/img/pointer-interaction.svg') %>" alt="Build your page's credibility with new Facebook fans">
                    </picture>
                </div>
                <h4>Boost your website traffic</h4>
                <p>Receive qualified visits on your website thanks to Google</p>
            </div>
            <div class="widget">
                <div class="icon bg-green-back">
                    <picture aria-label="Generate prospects">
                        <source srcset="<%= require('./assets/img/dollars-1200.svg') %>" media="(max-width: 1600px)" type="image/svg+xml"/>
                        <img src="<%= require('./assets/img/dollars.svg') %>" alt="Build your page's credibility with new Facebook fans" loading="lazy">
                    </picture>
                </div>
                <h4>Generate <br> prospects</h4>
                <p>Attract prospects interested in your services</p>
            </div>
        </div>
        <div class="rows box-inner flex flex-column gap-85 justify-center rows-animation">
            <div class="text-center big-title" aria-label="for your advertising">Why choose App<br> for your advertising</div>
            <div class="row-feat flex flex-row justify-between items-center">
                <div class="column content flex flex-column flex-nowrap gap-20 flex-1">
                    <h5 aria-label="A team of experts at your service">A team of experts at your service</h5>
                    <p>A certified Google and Facebook Ads team takes care of everything</p>
                    <div>
                        <a
                                target="_top"
                                class="btn-primary"
                                href="#"
                                aria-label="A certified Google and Facebook Ads team takes care of everything"
                                rel="nofollow">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="column picture bg-orange flex justify-center items-center">
                    <picture aria-label="Generate prospects">
                        <source srcset="<%= require('./assets/img/Tooltip-1200.svg') %>" media="(max-width: 1600px)" type="image/svg+xml"/>
                        <img src="<%= require('./assets/img/Tooltip.svg') %>" alt="Build your page's credibility with new Facebook fans" loading="lazy">
                    </picture>
                </div>
            </div>
            <div class="row-feat flex flex-row justify-between items-center">
                <div class="column content flex flex-column flex-nowrap gap-20 flex-1">
                    <h5 aria-label="Creation of tailor-made advertising">Creation of tailor-made advertising</h5>
                    <p>Texts, visuals and audiences according to your needs</p>
                    <div>
                        <a
                                target="_top"
                                class="btn-primary"
                                href="#"
                                aria-label="Texts, visuals and audiences according to your needs"
                                rel="nofollow">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="column picture bg-blue flex justify-center items-center">
                    <picture aria-label="Generate prospects">
                        <source srcset="<%= require('./assets/img/Slider-1200.svg') %>" media="(max-width: 1600px)" type="image/svg+xml"/>
                        <img src="<%= require('./assets/img/Slider.svg') %>" alt="Build your page's credibility with new Facebook fans" loading="lazy">
                    </picture>
                </div>
            </div>
            <div class="row-feat flex flex-row justify-between items-center">
                <div class="column content flex flex-column flex-nowrap gap-20 flex-1">
                    <h5 aria-label="Campaigns optimized daily">Campaigns optimized daily</h5>
                    <p>Thanks to Artur, your advertising campaigns are perfected in order to obtain best results</p>
                    <div>
                        <a
                                target="_top"
                                class="btn-primary"
                                href="#"
                                aria-label="Campaigns optimized dail"
                                rel="nofollow">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="column picture bg-green flex justify-center items-center">
                    <picture aria-label="Generate prospects">
                        <source srcset="<%= require('./assets/img/Card-1200.svg') %>" media="(max-width: 1600px)" type="image/svg+xml"/>
                        <img src="<%= require('./assets/img/Card.svg') %>" alt="Build your page's credibility with new Facebook fans" loading="lazy">
                    </picture>
                </div>
            </div>
            <div class="row-feat flex flex-row justify-between items-center">
                <div class="column content flex flex-column flex-nowrap gap-20 flex-1">
                    <h5 aria-label="An adapted budget to your needs">An adapted budget to your needs</h5>
                    <p>An amount defined by you, according to your ambitions</p>
                    <div>
                        <a
                                target="_top"
                                class="btn-primary"
                                href="#"
                                aria-label="An adapted budget to your needs"
                                rel="nofollow">Learn more
                        </a>
                    </div>
                </div>
                <div class="column picture bg-purple flex justify-center items-center">
                    <picture aria-label="Generate prospects">
                        <source srcset="<%= require('./assets/img/block-1200.svg') %>" media="(max-width: 1600px)" type="image/svg+xml"/>
                        <img src="<%= require('./assets/img/block.svg') %>" alt="Build your page's credibility with new Facebook fans" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-animation">
    <div class="box flex flex-column flex-nowrap  items-center gap-20">
        <div aria-label="Want to try?" class="text-center big-title footer-item-animation">Want to try?</div>
        <div class="footer-item-animation">
            <a
                    target="_top"
                    class="btn-primary inverse"
                    href="#"
                    aria-label="Want to try"
                    rel="nofollow">
                I am interested
            </a>
        </div>
    </div>
</footer>
</body>
</html>